@page
@model PrivacyModel
@{
    ViewData["Title"] = "Read Me";
}
<h1>@ViewData["Title"]</h1>

<h3>Getting Started</h3>
<p><b>Include all neccessary files</b></p>
<ul>
    <li>jQuery (anything above 1.9.1 works)</li>
    <li>The brightmouse.js (or brightmouse.min.js) file</li>
</ul>



